.button {
  border: 2px solid rgb(16, 38, 84);
  padding: 27px 24px;
  font-family: inherit;
  color: inherit;
  font-size: $font-mini;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;

  &--white {
    border-color: $default-white;
    color: $default-white;
  }
}


@media (max-width: 1365px) {
  button {
    font-size: $font-mini;
  }
}
