.juri {
  min-width: 0;
  width: 1366px;
  margin: 0 auto;
  padding: 100px 103px;

  //todo
  border: 1px solid black;
  border-top: none;
}

@media (max-width: 1365px) {
  .juri {
    width: 768px;
    padding: 30px 104px 60px;

  }
}

@media (max-width: 767px) {
  .juri {
    width: 320px;
    padding: 40px 46.5px;
  }
}

.juri__swiper-container {
  position: relative;
}


.juri__title {
  margin: 0 0 46px;
  font-family: $font-second;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
}

@media (max-width: 1365px) {
  .juri__title {
    margin: 0 0 46px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .juri__title {
    margin: 0 0 20px;
    font-size: 32px;
    line-height: 32px;
  }
}
